body{
    background: #000 !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.black-bg1{
    background-color: #251f1f;
}

.onglet strong{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-evenly   ;
    gap: 20px;
}
.onglet a{
    color: rgb(8, 80, 8);
    font-size: 20px;
    text-decoration: none;
}
.black-bg{
    background-color: rgb(51, 51, 51);
}
.container h4{
    font-size: 25px;
    margin: 0px auto; 
}
.container{
    /* background-color: rgb(19, 18, 18); */
    max-width: 1200px;
    margin: 0 auto;
}
.container .row .col-lg-6{
    width: 400px;
}
.container .row .col-lg-3 i{
    margin-left: 20px;
}
footer .p2{
    margin-left: 400px;
    font-size: 50px;
    margin-top: 5px;
}
footer .p3{
    margin-left: 400px;
    font-size: 20px;
}
footer{
    background: no-repeat center / cover url(IMAGE/PRMIER.webp);
}
footer button{
    margin-left: 600px ;
}
.col-lg-3{
    outline-offset: -6px; 
    background-color: #5857577c;
    margin-left: 250px;
}
@media screen and (max-width: 1024px) {
    footer .p1{
        text-align: center;
    }
    p.black-bg2.text-white{
        margin-left: 200px;
    }
    footer .p3{
        margin-left: 100px;
    }
    footer button{
        margin-left: 400px;
    }
    }
@media screen and (max-width:768px) {
    .col-lg-3{
        margin-left: 5px;
    }
    div .row{
        display: flex;
        flex-wrap: wrap;
    }
    p.p3.text-center {
        font-size: 15px;
    }
    footer button{
        margin-left: 320px;
    }
    .black-bg2.text-white.text-center{
        margin-right: 100px;
    }
}